<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>设置</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>版本号</string>
			<key>DefaultValue</key>
			<string>V1.0</string>
			<key>Key</key>
			<string>versionNO</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>组号</string>
			<key>Key</key>
			<string>groupNo</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Titles</key>
			<array>
				<string>第一组</string>
				<string>第二组</string>
				<string>第三组</string>
				<string>第四组</string>
				<string>第五组</string>
				<string>第六组</string>
				<string>第七组</string>
			</array>
			<key>Values</key>
			<array>
				<string>G1</string>
				<string>G2</string>
				<string>G3</string>
				<string>G4</string>
				<string>G5</string>
				<string>G6</string>
				<string>G7</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
